:root{
    --bck: 90%
}
.container{
    display:flex;
    justify-content: space-between;
    background-color:  hsl(0, 0%, var(--bck));
    margin: 0px;
    padding: 0px;
}

ul {
    display:flex;
    align-items: stretch;

  
}

a {
    

    color: black;
    text-decoration: none;
    background-color:  hsl(0, 0%, var(--bck));
    padding: 16px;
}

a:hover{
    background-color:  hsl(0, 0%, calc(var(--bck) - 20%));
}

li {
    list-style-type: none;
    height:100%;
}

body{

}

#nameID {
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}